Microsoft.Flow/flows/be62b527-f17a-4d98-bf57-9d2b67c94fbd/definition.json
{"name":"d2e3db1e-1105-4109-bc4c-b4c844e31835","id":"/providers/Microsoft.Flow/flows/d2e3db1e-1105-4109-bc4c-b4c844e31835","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"MES3.4","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"AllActionsFailingDetected","flowclientsuspensiontime":"2025-04-10T04:29:02.0427901Z","flowclientsuspensionreasondetails":"Your flow has failed consistently for 14 days. We disabled it on 11/19/2024 8:13:19 AM.","creator":{"id":"3b105c8c-f6da-4a35-95f8-88b165b9216d","type":"User","tenantId":"2908231e-3c4b-42c9-a39d-6cb3eee0e7f2"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-10-08T01:32:20.982325Z","connectionKeySavedTimeKey":"2025-04-10T04:29:02.0427901Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"interval":1,"frequency":"Day","timeZone":"Eastern Standard Time","schedule":{"hours":["10"]}},"type":"Recurrence"}},"actions":{"Get_emails_(V3)":{"runAfter":{},"metadata":{"Id::AAMkADVjZWQxMWQzLTJiNGYtNDJhOC05MGUzLTc3M2M4ZGY3OTc2NwAuAAAAAABrQS0j9INTT5nlQgFr4opUAQDFW8ORa4VPQ5ga4h_NTES8AAD3TtP4AAA=":"MES Requesting Information - DW"},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"Id::AAMkADVjZWQxMWQzLTJiNGYtNDJhOC05MGUzLTc3M2M4ZGY3OTc2NwAuAAAAAABrQS0j9INTT5nlQgFr4opUAQDFW8ORa4VPQ5ga4h_NTES8AAD3TtP4AAA=","fetchOnlyUnread":false,"mailboxAddress":"servicenowpreprod@aaalife.com","includeAttachments":true,"top":10},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"GetEmailsV3"},"authentication":"@parameters('$authentication')"}},"For_each":{"foreach":"@outputs('Get_emails_(V3)')?['body/value']","actions":{"Newline":{"runAfter":{"Html_to_text":["Succeeded"]},"type":"Compose","inputs":"\n"},"Html_to_text":{"runAfter":{"Get_worksheets":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p class=\"editor-paragraph\">@{item()?['body']}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}},"SplitIntoLines":{"runAfter":{"Newline":["Succeeded"]},"type":"Compose","inputs":"@split(body('Html_to_text'), outputs('Newline'))"},"Filter_array":{"runAfter":{"SplitIntoLines":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('SplitIntoLines')","where":"@greaterOrEquals(length(trim(item())),0)"}},"requestItem":{"runAfter":{"Filter_array":["Succeeded"]},"type":"Compose","inputs":"@split(body('Filter_array')[0], ': ')[1]"},"employeeName":{"runAfter":{"requestItem":["Succeeded"]},"type":"Compose","inputs":"@split(body('Filter_array')[5], ': ')[1]"},"managerName":{"runAfter":{"employeeName":["Succeeded"]},"type":"Compose","inputs":"@split(body('Filter_array')[7], ': ')[1]"},"department":{"runAfter":{"managerName":["Succeeded"]},"type":"Compose","inputs":"@split(body('Filter_array')[9], ': ')[1]"},"employeeType":{"runAfter":{"department":["Succeeded"]},"type":"Compose","inputs":"@split(body('Filter_array')[17], ': ')[1]"},"separationDate":{"runAfter":{"employeeType":["Succeeded"]},"type":"Compose","inputs":"@split(body('Filter_array')[19], ': ')[1]"},"managerEmail":{"runAfter":{"separationDate":["Succeeded"]},"type":"Compose","inputs":"@split(body('Filter_array')[21], ': ')[1]"},"emailReferenceId":{"runAfter":{"managerEmail":["Succeeded"]},"type":"Compose","inputs":"@body('Filter_array')[24]"},"employeeSeparationSurvey":{"runAfter":{"emailReferenceId":["Succeeded"]},"type":"Compose","inputs":"https://forms.office.com/Pages/ResponsePage.aspx?id=HiMIKUs8yUKjnWyz7uDn8oxcEDva9jVKlfiIsWW5IW1URUtVRFpZQ01VREM1Uk9JUEg0QkhUTkQzRy4u&rd75b51b84cf648ea8dda6f99d31bbfa5=@{outputs('emailReferenceId')}"},"Get_worksheets":{"metadata":{"01DSOMKC2LLVENPPV5IBH3VKW62S7O6HPE":"/Employee Separation Survey.xlsx","tableId":null},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!fGJ_MTnmq0alDfD6haDKz8IzM0xKkWhPuXGcvUxGrqx7lYqXboBQSrAI8LUbVlrJ","file":"01DSOMKC2LLVENPPV5IBH3VKW62S7O6HPE"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetAllWorksheets"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Get_a_row":{"metadata":{"01DSOMKC2LLVENPPV5IBH3VKW62S7O6HPE":"/Employee Separation Survey.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!fGJ_MTnmq0alDfD6haDKz8IzM0xKkWhPuXGcvUxGrqx7lYqXboBQSrAI8LUbVlrJ","file":"01DSOMKC2LLVENPPV5IBH3VKW62S7O6HPE","table":"{00000000-000C-0000-FFFF-FFFF00000000}","idColumn":"ReferenceID\n","id":"@outputs('emailReferenceId')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Move_email_(V2)-copy_1":{"runAfter":{"isContractToHire-copy":["Succeeded"]},"metadata":{"Id::AAMkADVjZWQxMWQzLTJiNGYtNDJhOC05MGUzLTc3M2M4ZGY3OTc2NwAuAAAAAABrQS0j9INTT5nlQgFr4opUAQDFW8ORa4VPQ5ga4h_NTES8AAD3TtP5AAA=":"MES Received Information - DW"},"type":"OpenApiConnection","inputs":{"parameters":{"messageId":"@items('For_each')?['id']","folderPath":"Id::AAMkADVjZWQxMWQzLTJiNGYtNDJhOC05MGUzLTc3M2M4ZGY3OTc2NwAuAAAAAABrQS0j9INTT5nlQgFr4opUAQDFW8ORa4VPQ5ga4h_NTES8AAD3TtP5AAA=","mailboxAddress":"servicenowpreprod@aaalife.com"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"MoveV2"},"authentication":"@parameters('$authentication')"}},"isContractToHire-copy":{"actions":{"contractToHireNotification_1":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/MailboxAddress":"servicenowpreprod@aaalife.com","emailMessage/To":"@outputs('managerEmail')","emailMessage/Subject":"Contract To Hire Notification","emailMessage/Body":"<p class=\"editor-paragraph\">Hello,<br><br>In regards to the separation ticket submitted for @{outputs('employeeName')}, it appears that a Contract to Hire Converstion should have been sumbitted instead. Please head to the link below to place a converstion for the employee instead(you may need to log into ServiceNow).<br><br><a class=\"editor-link\" href=\"https://\">https://aaalifeprod.service-now.com/sp?id=sc_cat_item&amp;sys_id=0486bc9cdb45b41061eed206ca961942</a><br><br><br>@{outputs('emailReferenceId')}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"authentication":"@parameters('$authentication')"}},"JEREMY_CONTRACT_TO_HIRE_EMAIL_1":{"runAfter":{"contractToHireNotification_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/MailboxAddress":"servicenowpreprod@aaalife.com","emailMessage/To":"aaalifedev@service-now.com","emailMessage/Subject":"CONTRACT TO HIRE","emailMessage/Body":"<p class=\"editor-paragraph\">CONTRACT TO HIRE<br>In regards to @{outputs('requestItem')}, the manager has indicated that this was supposed to be a CONTRACT TO HIRE, and has been directed where to fill one out. Please close out this ticket.<br><br><br>@{outputs('emailReferenceId')}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"contractToHire":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)_2":{"runAfter":{"excelSpecialInstructions":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/MailboxAddress":"servicenowpreprod@aaalife.com","emailMessage/To":"aaalifedev@service-now.com","emailMessage/Subject":"RE: Additional Employee Information for Separation","emailMessage/Body":"<p class=\"editor-paragraph\">Employee's Personal Phone Number: @{outputs('excelEmployeePhone')}<br>Employee's Email Address: @{outputs('excelEmployeeEmail')}<br>Employee Type: @{outputs('excelEmployeeType')}<br>Date/Time to turn off Access(If Separation date is in the future): @{outputs('excelSeparationDate')}<br>Equipment Return Options: @{outputs('excelEquipment')}<br>Shipping Address(If Ship boxes is selected): @{outputs('excelEmployeeShippingAddress')}<br>Does the manager want access to the mailbox: @{outputs('excelManagerAccess')}<br>Until what date: @{outputs('excelManagerAccessDate')}<br>Special Instructions: @{outputs('excelSpecialInstructions')}<br><br><br>@{outputs('emailReferenceId')}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"authentication":"@parameters('$authentication')"}},"excelEmployeePhone":{"type":"Compose","inputs":"@body('Get_a_row')?['Employee''s Personal Phone Number_x003a_\n']"},"excelEmployeeEmail":{"runAfter":{"excelEmployeePhone":["Succeeded"]},"type":"Compose","inputs":"@body('Get_a_row')?['Employee''s Personal Email Address_x003a_\n']"},"excelEmployeeType":{"runAfter":{"excelEmployeeEmail":["Succeeded"]},"type":"Compose","inputs":"@body('Get_a_row')?['Employee type_x003a_\n']"},"excelSeparationDate0":{"runAfter":{"excelEmployeeType":["Succeeded"]},"type":"Compose","inputs":"@body('Get_a_row')?['Separation Date_x003a_\n']"},"excelSeparationDate":{"runAfter":{"excelSeparationDate0":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(addDays('1899-12-30', int(outputs('excelSeparationDate0'))), 'yyyy-MM-dd')"},"excelEquipment":{"runAfter":{"excelSeparationDate":["Succeeded"]},"type":"Compose","inputs":"@body('Get_a_row')?['How will the employee return their equipment?\n']"},"excelEmployeeShippingAddress":{"runAfter":{"excelEquipment":["Succeeded"]},"type":"Compose","inputs":"@body('Get_a_row')?['Employee''s Shipping Address_x003a_\n']"},"excelManagerAccess":{"runAfter":{"excelEmployeeShippingAddress":["Succeeded"]},"type":"Compose","inputs":"@body('Get_a_row')?['Does the Manager need access to the Employee''s mailbox?\n']"},"excelManagerAccessDate0":{"runAfter":{"excelManagerAccess":["Succeeded"]},"type":"Compose","inputs":"@body('Get_a_row')?['Until what date do you need access to the employee''s mailbox?\n']"},"excelManagerAccessDate":{"runAfter":{"excelManagerAccessDate0":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(addDays('1899-12-30', int(outputs('excelManagerAccessDate0'))), 'yyyy-MM-dd')"},"excelSpecialInstructions":{"runAfter":{"excelManagerAccessDate":["Succeeded"]},"type":"Compose","inputs":"@body('Get_a_row')?['Special Instructions\n']"}}},"expression":{"and":[{"equals":["@outputs('contractToHire')","Yes"]}]},"type":"If"},"contractToHire":{"runAfter":{"Get_a_row":["Succeeded"]},"type":"Compose","inputs":"@body('Get_a_row')?['Is this a CONTRACT TO HIRE CONVERSION?\n']"}},"runAfter":{"For_each_1":["Succeeded"]},"else":{"actions":{"Send_an_email_from_a_shared_mailbox_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/MailboxAddress":"servicenowpreprod@aaalife.com","emailMessage/To":"@outputs('managerEmail')","emailMessage/Subject":"Employee Separation Survey Request","emailMessage/Body":"<p class=\"editor-paragraph\">Please fill out the separation survey for: Employee: @{outputs('employeeName')} @{outputs('employeeSeparationSurvey')}<span>\n\n(</span>Please skip question 1)</p><br>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"equals":["@variables('Flag')",true]}]},"type":"If"},"List_rows_present_in_a_table":{"runAfter":{"employeeSeparationSurvey":["Succeeded"]},"metadata":{"01DSOMKC2LLVENPPV5IBH3VKW62S7O6HPE":"/Employee Separation Survey.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!fGJ_MTnmq0alDfD6haDKz8IzM0xKkWhPuXGcvUxGrqx7lYqXboBQSrAI8LUbVlrJ","file":"01DSOMKC2LLVENPPV5IBH3VKW62S7O6HPE","table":"{00000000-000C-0000-FFFF-FFFF00000000}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"For_each_1":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Condition_1":{"actions":{"Set_variable":{"type":"SetVariable","inputs":{"name":"Flag","value":true}}},"else":{"actions":{}},"expression":{"and":[{"contains":["@item()?['ReferenceID\n']","@outputs('emailReferenceId')"]}]},"type":"If"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Foreach"},"Set_variable_1":{"runAfter":{"Condition":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Flag","value":false}}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Foreach"},"Initialize_variable":{"runAfter":{"Get_emails_(V3)":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Flag","type":"boolean","value":false}]}}},"outputs":{},"description":""},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-63a17189-c8cf-4f8e-86fa-d850ce29d722","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_conversionservice":{"connectionName":"shared-conversionser-51fbc7fa-bdf1-44a3-937e-14a12faa0d7c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified","apiName":"conversionservice","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-dbff9694-4b3a-4fb0-a9c6-dc06ab9f31c7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}